<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>care_provider</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
	  <!-- Do not change NSAllowsArbitraryLoads to true, or you will risk app rejection! -->
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSAppleMusicUsageDescription</key>
		<string>$(PRODUCT_NAME) muốn sử dụng âm thanh để thông báo đến bạn</string>
		<key>NSCameraUsageDescription</key>
		<string>$(PRODUCT_NAME) cần xin quyền truy cập máy ảnh của bạn có thể sử dụng hình ảnh của
			sản phẩm để gửi tin nhắn, chia sẻ trên trang cá nhân, gửi đánh giá và quét QR</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>$(PRODUCT_NAME) cần quyền truy cập vị trí để tìm địa chỉ gần nhất cho bạn</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>$(PRODUCT_NAME) cần quyền truy cập vị trí để tìm địa chỉ gần nhất cho bạn</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>$(PRODUCT_NAME) cần quyền truy cập vị trí để tìm địa chỉ gần nhất cho bạn</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>$(PRODUCT_NAME) muốn sử dụng Photo Library của bạn để lấy hình ảnh thực tế sản phẩm
			bạn đã chup, các hình ảnh khác được bạn cho phép</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>$(PRODUCT_NAME) muốn sử dụng Photo Library của bạn để lấy hình ảnh thực tế sản phẩm
			bạn đã chup, các hình ảnh khác được bạn cho phép</string>
</dict>
</plist>
